We have 4000 double labeled tweets so need to figure out what to do with them.

# Preprocessing

In [1]:
import pickle

import datetime
import pandas as pd

from data.dao import DataAccess, LabelGetter
from data.turk import TurkResults2Label

In [2]:
results1 = pd.DataFrame.from_csv("C:/Users/Tom Work/Downloads/Batch_2417713_batch_results.csv")

In [3]:
results2 = pd.DataFrame.from_csv("C:/Users/Tom Work/Downloads/Batch_2419972_batch_results.csv")

In [4]:
results = pd.concat([results1, results2])
# results.index = results._id

In [5]:
results.Worker.value_counts().head(10)

A2QLSHXNCHBRN4    418
A312KFQ78WB3A4    317
AKATCXM6HXIU7     301
AG0X3PQK2FWQJ     266
A2YAYHZYI7M3HD    230
AM7FYVGVOEP66     218
A2W2ZEI7WUASOW    216
A3HSMUPSPOKD0M    167
AS9E0S6DBSWH7     139
A2OAZPREKF6PQR    138
Name: Worker, dtype: int64

In [6]:
results[results.Worker == 'A2QLSHXNCHBRN4'][['text', 'Answer']].sample(10)

,text,Answer
HITID,,
3S4TINXCC07LR4SJW252ASCE7D9OB5,"b'Man down, man down! #ineedabeer! http://t.co...",First Person - Alcohol::Looking to drink
3BCRDCM0ODEWV1Q92JW1SV9D97PK6X,b'@coleswindell Jacksonville Florida wants you...,Alcohol Related::Promotional Content
34OWYT6U3W1S7P2J0NE1ZPL27YVI96,b'Drinking a Burnside by @foundationbrew at @t...,First Person - Alcohol::Casual Drinking
3OEWW2KGQJVE61Q3AYW85I0EAYKODB,"b'Good, but hard to follow my last beer. (Head...",First Person - Alcohol::Casual Drinking
39KV3A5D18RDNKHMQ2AVPV0JLCK7SY,b'Drinking an Atomic 7 by @EnegrenBrewing @ Li...,First Person - Alcohol::Casual Drinking
3XD2A6FGFNEH135F5Z8F3RRPG2AS9X,b'I need to get drunk w salina soon',First Person - Alcohol::Looking to drink
3HEADTGN2PC3XVI5TBD65ZBQLMXVR3,b'Come to my dads house and go straight to the...,First Person - Alcohol::Casual Drinking
3M4KL7H8KV7UP04NU9QJNGDE01O16A,"b""i feel like I'm drunk but I'm not""",First Person - Alcohol::Casual Drinking
32L724R85L4DZCIQHCAYLFLHC8OIPO,"b""This bitch put amsterdam in her fucking Ariz...",First Person - Alcohol::Heavy Drinking
3X878VYTIE24JFC0KIAWIWH4WMR7FG,b'Pretty drunk like hey',First Person - Alcohol::Heavy Drinking

In [7]:
results.index = results._id
labels = results.Answer.apply(TurkResults2Label.parse_to_labels)

In [8]:
labels.shape

(4000,)

In [9]:
X = DataAccess.get_as_dataframe()
L = LabelGetter(X)
X_fpl, y = L.get_first_person_label()

In [10]:
X_fpl['new_labels'] = labels

C:\Users\Tom Work\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [11]:
double_labeled = X_fpl.dropna(subset = ['new_labels'])

In [12]:
double_labeled.sample(5)

,created_at,labels,predict,text,user,user.created_at,user.favourites_count,user.followers_count,user.friends_count,user.statuses_count,user.verified,new_labels
_id,,,,,,,,,,,,
5574bbcfd6dfbb4fbd05e42a,Sun Jun 07 21:47:35 +0000 2015,"{'alcohol': 1, 'first_person': 1, 'first_perso...",0.701132,Either my table knows I'm drunk or thinks I'm ...,"{'verified': False, 'statuses_count': 38506, '...",Sat Dec 31 05:46:07 +0000 2011,2541,632,316,38506,False,"{'alcohol': 1, 'first_person': 1, 'first_perso..."
557baf46d6dfbb6d47c64721,Sat Jun 13 04:19:59 +0000 2015,"{'alcohol': 1, 'first_person': 1, 'first_perso...",NaN,"@T_Bonezzz I swear, if I ever get pulled over,...","{'verified': False, 'statuses_count': 19403, '...",Sat Mar 28 01:32:05 +0000 2009,15613,897,1496,19403,False,"{'alcohol': 1, 'raw': 'Alcohol Related::Discus..."
557e1d5fd6dfbb7f85519ac0,Mon Jun 15 00:34:13 +0000 2015,"{'alcohol': 1, 'first_person': 1, 'first_perso...",NaN,Drinks w/ the bae. @ Grey Lady NYC https://t.c...,"{'verified': False, 'statuses_count': 9179, 'f...",Mon Mar 07 13:42:00 +0000 2011,2,538,377,9179,False,"{'alcohol': 1, 'first_person': 1, 'first_perso..."
557f38d2d6dfbb51dfc51196,Mon Jun 15 20:43:10 +0000 2015,"{'alcohol': 1, 'first_person': 1, 'first_perso...",0.758629,If you wanna drink some beer and catch a stunn...,"{'verified': False, 'statuses_count': 1132, 'f...",Fri Aug 03 23:46:42 +0000 2012,695,182,176,1132,False,"{'alcohol': 1, 'first_person': 1, 'first_perso..."
557bac9bd6dfbb6d47c628d4,Sat Jun 13 04:08:36 +0000 2015,"{'alcohol': 1, 'first_person': 1, 'first_perso...",0.736704,Ugh except tomorrow waking up for work after a...,"{'verified': False, 'statuses_count': 10415, '...",Thu Oct 27 02:14:21 +0000 2011,2159,498,265,10415,False,"{'alcohol': 1, 'first_person': 1, 'first_perso..."

In [13]:
L = LabelGetter(double_labeled)
x_old, fpl_old = L.get_first_person_label()
x_new, fpl_new = L._get_labels('first_person_level', column_name='new_labels')

In [14]:
df = pd.DataFrame()
df['old'] = fpl_old
df['new'] = fpl_new
df = df.dropna()

In [15]:
df.shape

(2907, 2)

In [16]:
from sklearn.metrics import cohen_kappa_score

In [17]:
cohen_kappa_score(df.old, df.new)

0.44000363291793887

This is an ok score.

In [18]:
agreed = double_labeled.ix[df[df['old'] == df['new']].index]

In [19]:
agreed[['text', 'labels']].sample(5)

,text,labels
_id,,
558f3842d6dfbb4e29a81ba8,Phone on 5% 😩 too drunk for this,"{'alcohol': 1, 'first_person': 1, 'first_perso..."
5573eb97d6dfbb685dccf1ef,I don't got a single sober vein in my body.,"{'alcohol': 1, 'first_person': 1, 'first_perso..."
55785a79d6dfbb6044891f71,Swimming pool and fridge full of beer... Come ...,"{'alcohol': 1, 'first_person': 1, 'first_perso..."
55804585d6dfbb2b73aad3fb,"Sippen on some vodka straight out the bottle ,...","{'alcohol': 1, 'first_person': 1, 'first_perso..."
558971acd6dfbb74d58c400e,@PAGESPAIGE lets face time and drink wine and ...,"{'alcohol': 1, 'first_person': 1, 'first_perso..."

In [20]:
pickle.dump(agreed, open('amt/double_labeled.p', 'wb'))

# FPL Classifier Performance

Lets compare performance of various classifiers using old and new data.

In [60]:
from sklearn.cross_validation import train_test_split
from classification.reporting import ClassificationReporting

# Old LogReg

We train on all 4000 tweets using the labels from the first round of workers.

In [71]:
clf_old = pickle.load(open('pickles/clf_fpl_UPDATED.p', 'rb'))

In [83]:
L = LabelGetter(double_labeled)
X, y = L.get_first_person_label()
# X, y = L._get_labels('first_person_level', column_name='new_labels')

In [84]:
X.shape

(4000, 12)

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=26)
clf_fpl.fit(X_train, y_train)

Pipeline(steps=[('features', FeatureUnion(n_jobs=1,
       transformer_list=[('text', Pipeline(steps=[('getter', ItemGetter(key='text')), ('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=F...one,
          solver='liblinear', tol=0.000449897709599141, verbose=0,
          warm_start=None))])

In [86]:
reporting = ClassificationReporting(clf_fpl, X_train, X_test, y_train, y_test, 3)
report = reporting.set_name("Test Classifier").set_level('fpl').create_report(1)

Training Results
~~~~~~~~~~~~~~~~
accuracy_score
1.0


classification_report
             precision    recall  f1-score   support

          0       1.00      1.00      1.00      1391
          1       1.00      1.00      1.00       694
          2       1.00      1.00      1.00       595

avg / total       1.00      1.00      1.00      2680



f1_score
1.0


confusion_matrix
[[1391, 0, 0], [0, 694, 0], [0, 0, 595]]




Testing Results Results
~~~~~~~~~~~~~~~~~~~~~~~
accuracy_score
0.6113636363636363


classification_report
             precision    recall  f1-score   support

          0       0.67      0.70      0.69       659
          1       0.57      0.58      0.58       365
          2       0.51      0.45      0.47       296

avg / total       0.61      0.61      0.61      1320



f1_score
0.6088338406205277


confusion_matrix
[[462, 110, 87], [110, 213, 42], [115, 49, 132]]

# New Data: Log Reg

We take the subset of the above data where the 2 sets of workers agreed and use that to train/test.

In [87]:
clf_fpl = pickle.load(open('pickles/clf_fpl_UPDATED.p', 'rb'))

In [88]:
L = LabelGetter(agreed)
X, y = L.get_first_person_label()

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=26)
clf_fpl.fit(X_train, y_train)

Pipeline(steps=[('features', FeatureUnion(n_jobs=1,
       transformer_list=[('text', Pipeline(steps=[('getter', ItemGetter(key='text')), ('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=F...one,
          solver='liblinear', tol=0.000449897709599141, verbose=0,
          warm_start=None))])

In [90]:
reporting = ClassificationReporting(clf_fpl, X_train, X_test, y_train, y_test, 3)
report = reporting.set_name("Test Classifier").set_level('fpl').create_report(1)

Training Results
~~~~~~~~~~~~~~~~
accuracy_score
1.0


classification_report
             precision    recall  f1-score   support

          0       1.00      1.00      1.00       714
          1       1.00      1.00      1.00       351
          2       1.00      1.00      1.00       213

avg / total       1.00      1.00      1.00      1278



f1_score
1.0


confusion_matrix
[[714, 0, 0], [0, 351, 0], [0, 0, 213]]




Testing Results Results
~~~~~~~~~~~~~~~~~~~~~~~
accuracy_score
0.7666666666666667


classification_report
             precision    recall  f1-score   support

          0       0.82      0.83      0.83       367
          1       0.73      0.76      0.75       174
          2       0.59      0.51      0.55        89

avg / total       0.76      0.77      0.76       630



f1_score
0.7643482489489184


confusion_matrix
[[305, 37, 25], [35, 133, 6], [31, 13, 45]]

Seems like an improvement! However, we should keep in mind that the train and test sets are where two AMT workers agreed, and hence might leave out the more ambiguous cases.

In [64]:
pickle.dump(clf_fpl, open('pickles/clf_fpl_double_labeled', 'wb'))

# SVM

In [68]:
from __private import fs
from classification import dao

In [66]:
for _ in fs.list(): print(_)

alcohol|accuracy:0.8143360752056404|f1:0.8192219679633866|type:LogisticRegression
alcohol|accuracy:0.8401880141010576|f1:0.8498896247240618|type:SVC
alcohol|accuracy:0.8425381903642774|f1:0.8562231759656651|type:RandomForestClassifier
first_person_label|accuracy:0.5637860082304527|f1:0.5574430033343769|type:SVC
first_person_label|accuracy:0.5637860082304527|f1:0.5643693591852614|type:LogisticRegression
first_person|accuracy:0.6951871657754011|f1:0.8034482758620688|type:RandomForestClassifier
first_person|accuracy:0.7005347593582888|f1:0.7751004016064257|type:LogisticRegression
first_person|accuracy:0.7032085561497327|f1:0.8062827225130889|type:RandomForestClassifier
first_person|accuracy:0.7112299465240641|f1:0.8021978021978021|type:SVC

In [69]:
clf_fpl_svc = dao.ClassifierAccess.get_byfile('first_person_label|accuracy:0.5637860082304527|f1:0.5574430033343769|type:SVC')

In [92]:
clf_fpl_svc.steps[0][1].transformer_list

[('text',
  Pipeline(steps=[('getter', ItemGetter(key='text')), ('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
          dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
          lowercase=True, max_df=1.0, max_features=71312, min_df=2,
          ngram_range=(1, 3), norm='l2', ...       tokenizer=<function tokenize at 0x000000000948E598>, use_idf=True,
          vocabulary=None))])),
 ('topic',
  Pipeline(steps=[('getter', ItemGetter(key='text')), ('topics', Gensim())]))]

Remove LDA...

In [94]:
del clf_fpl_svc.steps[0][1].transformer_list[-1]

In [95]:
L = LabelGetter(agreed)
X, y = L.get_first_person_label()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=26)
clf_fpl_svc.fit(X_train, y_train)
reporting = ClassificationReporting(clf_fpl_svc, X_train, X_test, y_train, y_test, 3)
report = reporting.set_name("Test Classifier").set_level('fpl').create_report(1)

Training Results
~~~~~~~~~~~~~~~~
accuracy_score
0.9092331768388107


classification_report
             precision    recall  f1-score   support

          0       0.89      0.98      0.93       714
          1       0.94      0.88      0.91       351
          2       0.96      0.71      0.81       213

avg / total       0.91      0.91      0.91      1278



f1_score
0.9065334430591325


confusion_matrix
[[701, 9, 4], [38, 310, 3], [52, 10, 151]]




Testing Results Results
~~~~~~~~~~~~~~~~~~~~~~~
accuracy_score
0.7698412698412699


classification_report
             precision    recall  f1-score   support

          0       0.77      0.93      0.84       367
          1       0.81      0.62      0.70       174
          2       0.69      0.42      0.52        89

avg / total       0.77      0.77      0.76       630



f1_score
0.7564732734234484


confusion_matrix
[[340, 16, 11], [60, 108, 6], [43, 9, 37]]