# Relabeling

We want to improve the quality of the labels from AMT. In particular, the FPL.

In [3]:
import pickle

import datetime
import pandas as pd

from data.dao import DataAccess, LabelGetter
from data.turk import TurkResults2Label

In [27]:
X = DataAccess.get_as_dataframe()

In [29]:
L = LabelGetter(X)

In [30]:
X_fpl, y = L.get_first_person_label()

In [32]:
X_fpl.shape

(6357, 11)

In [33]:
X_fpl.head()

,created_at,labels,predict,text,user,user.created_at,user.favourites_count,user.followers_count,user.friends_count,user.statuses_count,user.verified
_id,,,,,,,,,,,
556e12e6d6dfbb462881153e,Tue Jun 02 20:33:15 +0000 2015,"{'first_person': 1, 'first_person_level': 0, '...",0.523513,Beer Olympics with my #1 fan and babeüòç‚ù§Ô∏è #Team...,"{'verified': False, 'followers_count': 563, 's...",Tue Dec 20 02:46:19 +0000 2011,11662,563,356,13940,False
556e1660d6dfbb462881361f,Tue Jun 02 20:48:04 +0000 2015,"{'first_person': 1, 'first_person_level': 0, '...",0.536733,Drinking a Soft Parade by @ShortsBrewing @ Lak...,"{'verified': False, 'followers_count': 543, 's...",Sun Mar 22 18:14:34 +0000 2009,13256,543,626,20051,False
556e16c2d6dfbb46288139a7,Tue Jun 02 20:49:44 +0000 2015,"{'first_person': 1, 'first_person_level': 2, '...",0.761665,Its only Tuesday and I need a drink or four.,"{'verified': False, 'followers_count': 211, 's...",Sun Jan 24 00:57:08 +0000 2010,1522,211,516,5300,False
556e173dd6dfbb4628813e3b,Tue Jun 02 20:51:47 +0000 2015,"{'first_person': 1, 'first_person_level': 2, '...",0.622639,jess told me no puking this friday.. so that m...,"{'verified': False, 'followers_count': 4573, '...",Fri Dec 06 05:58:03 +0000 2013,6814,4573,408,7859,False
556e1e58d6dfbb50e34a3eb7,Tue Jun 02 21:22:06 +0000 2015,"{'first_person': 1, 'first_person_level': 1, '...",0.572562,"""I need a drink because I'm upset about some p...","{'verified': False, 'followers_count': 727, 's...",Tue Jul 29 13:51:57 +0000 2008,2489,727,624,12889,False

Deterministic kind of uniform sample:

In [34]:
%%time
X_fpl['random_number'] = X_fpl.text.apply(hash)

Wall time: 9.69 s

C:\Users\Tom Work\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [8]:
X_fpl.head()

,created_at,labels,predict,text,user,user.created_at,user.favourites_count,user.followers_count,user.friends_count,user.statuses_count,user.verified,random_number
_id,,,,,,,,,,,,
556e12e6d6dfbb462881153e,Tue Jun 02 20:33:15 +0000 2015,"{'first_person_level': 0, 'alcohol': 1, 'first...",0.523513,Beer Olympics with my #1 fan and babeüòç‚ù§Ô∏è #Team...,"{'friends_count': 356, 'followers_count': 563,...",Tue Dec 20 02:46:19 +0000 2011,11662,563,356,13940,False,3509904359376660926
556e1660d6dfbb462881361f,Tue Jun 02 20:48:04 +0000 2015,"{'first_person_level': 0, 'alcohol': 1, 'first...",0.536733,Drinking a Soft Parade by @ShortsBrewing @ Lak...,"{'friends_count': 626, 'followers_count': 543,...",Sun Mar 22 18:14:34 +0000 2009,13256,543,626,20051,False,5508552107751333732
556e16c2d6dfbb46288139a7,Tue Jun 02 20:49:44 +0000 2015,"{'first_person_level': 2, 'alcohol': 1, 'first...",0.761665,Its only Tuesday and I need a drink or four.,"{'friends_count': 516, 'followers_count': 211,...",Sun Jan 24 00:57:08 +0000 2010,1522,211,516,5300,False,-6198757192334168986
556e173dd6dfbb4628813e3b,Tue Jun 02 20:51:47 +0000 2015,"{'first_person_level': 2, 'alcohol': 1, 'first...",0.622639,jess told me no puking this friday.. so that m...,"{'friends_count': 408, 'followers_count': 4573...",Fri Dec 06 05:58:03 +0000 2013,6814,4573,408,7859,False,-3614958430482511601
556e1e58d6dfbb50e34a3eb7,Tue Jun 02 21:22:06 +0000 2015,"{'first_person_level': 1, 'alcohol': 1, 'first...",0.572562,"""I need a drink because I'm upset about some p...","{'friends_count': 624, 'followers_count': 727,...",Tue Jul 29 13:51:57 +0000 2008,2489,727,624,12889,False,-1823265372766523932

In [15]:
batch = X_fpl.sort_values(by='random_number').ix[:1000]

What was previously labeled as FPA

In [23]:
batch["text"] = batch.text.str.encode("utf-8")

In [25]:
date = str(datetime.date.today())
key = batch.ix[0].random_number
batch[["text", "random_number"]].to_csv("amt/c_amt {} {}.csv".format(date, key))

In [21]:
pickle.dump(batch, open('pickles/amt_test_batch.p', 'wb'))

In [212]:
datetime.datetime.now().time().minute

56

In [77]:
import os
def make_batch(pickled_df, size, output_dir):
    """
    pickled_df: unlabeled data with 'random_number' column
    size: # of items batch to be created
    output_dir: where the outputs are saved
    """
    # Load data
    X = pickle.load(open(pickled_df, 'rb'))
    
    # select size subset
    batch = X.sort_values(by='random_number').head(size)
    
    # process for turk
    batch["text"] = batch.text.str.encode("utf-8")
    date = str(datetime.date.today())
    time = datetime.datetime.now().time()
    key = batch.ix[0].random_number
    
    # persist
    description = "/c_amt {} {}h{}m {}".format(date, time.hour, time.minute, key)
    if not os.path.exists(output_dir + description):
        os.makedirs(output_dir + description)
    batch[["text", "random_number"]].to_csv(output_dir + description +  description + '.csv')
    pickle.dump(batch, open(output_dir + description + description +".p", 'wb'))
    X = X.drop(batch.index)
    pickle.dump(X, open(pickled_df, 'wb'))

In [266]:
make_batch('amt/unlabeled.p', 1000, 'amt')

In [259]:
X = DataAccess.get_as_dataframe()

In [260]:
X['random_number'] = X.text.apply(hash)

In [264]:
pickle.dump(X, open('amt/unlabeled.p', 'wb'))

In [204]:
def remove_dup(big_df, remove_these):
    return big_df.drop(remove_these.index)

In [268]:
test = pd.read_csv('C:/Users/Tom Work/PycharmProjects/nyu-twipsy/amt/c_amt 2016-06-02 16h30m -9217494627877178173/c_amt 2016-06-02 16h30m -9217494627877178173.csv')

In [274]:
batch = X.ix[test._id]

In [275]:
batch.head()

,created_at,labels,predict,text,user,user.created_at,user.favourites_count,user.followers_count,user.friends_count,user.statuses_count,user.verified,random_number
_id,,,,,,,,,,,,
5575389ad6dfbb73a10633d8,Mon Jun 08 06:40:01 +0000 2015,{'alcohol': 0},NaN,@internet_faerie i don't have those yet and i ...,"{'friends_count': 507, 'favourites_count': 323...",Fri Oct 07 23:23:39 +0000 2011,32323,777,507,7134,False,-9217494627877178173
557c9bdcd6dfbb7ac08af03d,Sat Jun 13 21:09:26 +0000 2015,"{'first_person': 1, 'alcohol': 1, 'first_perso...",0.716105,girls who drink beer don't care about life,"{'friends_count': 598, 'favourites_count': 295...",Thu Dec 10 23:13:38 +0000 2009,29563,2637,598,257634,False,-9217364288113609806
559020f4d6dfbb1a867fe3d3,Sun Jun 28 16:29:43 +0000 2015,"{'first_person': 1, 'alcohol': 1, 'first_perso...",NaN,Just one. Drag brunch. @ Blue. Tapas Bar &amp;...,"{'friends_count': 230, 'favourites_count': 4, ...",Fri Mar 06 19:56:09 +0000 2009,4,182,230,3734,False,-9214218717718938339
5583416fd6dfbb7d89dd3a3d,Thu Jun 18 22:08:47 +0000 2015,"{'first_person': 1, 'alcohol': 1, 'first_perso...",NaN,@rabbitoreg @sueprendo @OhThatRachel @RaftLear...,"{'friends_count': 3971, 'favourites_count': 62...",Mon Apr 09 13:44:59 +0000 2012,6290,4460,3971,8483,False,-9211965234060103841
55712598d6dfbb692ade1d59,Fri Jun 05 04:29:51 +0000 2015,"{'first_person': 0, 'alcohol_related': 0, 'alc...",0.709952,We're out of beer :/,"{'friends_count': 110, 'favourites_count': 163...",Fri Mar 09 19:09:24 +0000 2012,16399,208,110,37263,False,-9211168337454258966

# AMT Results

In [4]:
results = pd.DataFrame.from_csv("C:/Users/Tom Work/Downloads/Batch_2417713_batch_results.csv")

In [3]:
results.head()

,_id,text,random_number,Worker,Answer,Date
HITID,,,,,,
3TTPFEFXCT45TBP1WYT4F3TLHK9H62,5580250fd6dfbb237b1cf3db,b'GETTIN BACK TO MY OLD WAYS ....I GOTTA BE DR...,-6641681194008602080,A1MHGD46DB5Z7H,First Person - Alcohol::Looking to drink,2016-06-01 20:33:49 UTC
3WRBLBQ2GRSWF48BA3V5L27TPH9G00,558888f0d6dfbb2934796935,b'Drinking a Musketeer by @EarthBreadBrew at @...,-8992588718599498971,A2W2ZEI7WUASOW,First Person - Alcohol::Casual Drinking,2016-06-01 20:32:51 UTC
3OWZNK3RYL9MGWCK9VO0851ZVN92U7,5573a21cd6dfbb325130c4e4,b'Shout out @nicoleamjadi for makin my drunk a...,-7481184102869025148,A3HSMUPSPOKD0M,First Person - Alcohol::Heavy Drinking,2016-06-01 20:32:41 UTC
3ZQX1VYFTDP2P6UCTQLSJQMDZ1D8O3,5590cc24d6dfbb6651182ec9,"b""You ever been so drunk when a cop asks for I...",-7203668149022749483,A3HSMUPSPOKD0M,First Person - Alcohol::Reflecting on drinking,2016-06-01 20:33:25 UTC
3HYV4299H0GGDFHNZCIWEESZVZ78EZ,557e0c20d6dfbb7b6fe44834,b'Drinking an 077-07871 Mosaic by @cartonbrewi...,-7369744233911600977,ADLYO655RWJUI,Alcohol Related::Discussion,2016-06-01 20:33:34 UTC

In [4]:
results.Worker.value_counts().head(10)

A3HSMUPSPOKD0M    167
A2QLSHXNCHBRN4    145
A2YAYHZYI7M3HD    113
A312KFQ78WB3A4    105
A37WXDYYT7RCZ0     96
A1MHGD46DB5Z7H     91
AS9E0S6DBSWH7      52
ABYS5Q4TCQZ6W      49
A2W2ZEI7WUASOW     42
A2M3KQ9CKP7YW      25
Name: Worker, dtype: int64

In [5]:
results[['text', 'Answer']].sample(10)

,text,Answer
HITID,,
35F6NGNVM83E2KU1F2FLZ0W5NPNT7M,b'@bchandra_3: My friends peer pressure the li...,First Person - Alcohol::Reflecting on drinking
3UOMW19E6DQITZE75N5YC6I58XTC58,b'Drinking a Mission Control Porter by @8thWon...,First Person - Alcohol::Casual Drinking
37YYO3NWHDA3SKNMKXS6QCOF0EFCCG,"b""Drinking a Mehilainen's Honey by @UrbanLegen...",First Person - Alcohol::Casual Drinking
3ZQX1VYFTDP2P6UCTQLSJQMDZ1D8O3,"b""You ever been so drunk when a cop asks for I...",First Person - Alcohol::Reflecting on drinking
3W31J70BASGLBIZACA94EV1N5NNKC0,b'every time I have a really bad hangover I th...,First Person - Alcohol::Reflecting on drinking
3BPP3MA3TC4BSM16T1R0JJE5FZ6ELR,"b""I remember when we were drunk and I lost my ...",First Person - Alcohol::Reflecting on drinking
3R868ACW4SWTHPE1EX8XR1AF7OTGZT,b'Drinking a Points Unknown IPA by @StoneBrewi...,First Person - Alcohol::Casual Drinking
3VAOOVPI3ZCPYSBYANE4WE4POW6LLK,"b""I think I've had enough, might get a little ...",First Person - Alcohol::Heavy Drinking
3AQN9REUTF0Q0FU5GL5679YGO29DYP,"b'#Sunrise @andrewstando ""Those drunk Indiana ...",Alcohol Related::Discussion
3E24UO25QZAFLSBO0BOUZCQMT6N6OF,b'Drinking a Sculpin IPA by @bpbrewing at @kc_...,First Person - Alcohol::Casual Drinking

In [5]:
results.index = results._id
labels = results.Answer.apply(TurkResults2Label.parse_to_labels)

In [7]:
labels.head()

_id
5580250fd6dfbb237b1cf3db    {'first_person': 1, 'alcohol': 1, 'first_perso...
558888f0d6dfbb2934796935    {'first_person': 1, 'alcohol': 1, 'first_perso...
5573a21cd6dfbb325130c4e4    {'first_person': 1, 'alcohol': 1, 'first_perso...
5590cc24d6dfbb6651182ec9    {'first_person': 1, 'alcohol': 1, 'first_perso...
557e0c20d6dfbb7b6fe44834    {'first_person': 0, 'raw': 'Alcohol Related::D...
Name: Answer, dtype: object

In [40]:
batch = pickle.load(open('pickles/amt_test_batch.p', 'rb'))

In [8]:
batch['new_labels'] = labels
batch.head()

,created_at,labels,predict,text,user,user.created_at,user.favourites_count,user.followers_count,user.friends_count,user.statuses_count,user.verified,random_number,new_labels
_id,,,,,,,,,,,,,
558de5ccd6dfbb1285b4d0d7,Fri Jun 26 23:52:46 +0000 2015,"{'first_person': 1, 'first_person_level': 0, '...",0.526958,Drinking a Modelo Especial by @Grupo_Modelo @ ...,"{'verified': False, 'followers_count': 21, 'st...",Wed May 11 14:42:49 +0000 2011,27,21,58,636,False,-9222761470226223014,"{'alcohol_related': 1, 'first_person': 0, 'alc..."
557c654dd6dfbb616296fd82,Sat Jun 13 17:16:38 +0000 2015,"{'first_person': 1, 'first_person_level': 1, '...",NaN,"Drink before the movie @ The Counter, Naples F...","{'verified': False, 'followers_count': 17, 'st...",Fri Mar 21 14:07:12 +0000 2014,0,17,87,59,False,-9222406852067829389,"{'first_person': 1, 'first_person_level': 0, '..."
558da04dd6dfbb6950896489,Fri Jun 26 18:56:16 +0000 2015,"{'first_person': 1, 'first_person_level': 1, '...",0.566175,Plug says she can get me $100 bottles of j√§ger...,"{'verified': False, 'followers_count': 976, 's...",Thu May 29 16:46:20 +0000 2014,806,976,1139,54977,False,-9220396303529209418,"{'alcohol_related': 0, 'first_person': 0, 'alc..."
55914691d6dfbb3d910847c7,Mon Jun 29 13:22:29 +0000 2015,"{'first_person': 1, 'first_person_level': 1, '...",0.536768,"new job, new things. life is good, God is alwa...","{'verified': False, 'followers_count': 592, 's...",Mon Jan 25 04:39:02 +0000 2010,5152,592,334,9733,False,-9217681854079129762,"{'first_person': 1, 'first_person_level': 1, '..."
557f254cd6dfbb4df2491edd,Mon Jun 15 19:19:59 +0000 2015,"{'first_person': 1, 'first_person_level': 0, '...",0.636640,Sushi &amp; beer w/ my boss,"{'verified': False, 'followers_count': 490, 's...",Sat Oct 09 16:47:51 +0000 2010,102,490,287,28686,False,-9210822260648258097,"{'first_person': 1, 'first_person_level': 0, '..."

In [10]:
batch[['text', 'labels', 'new_labels']]

,text,labels,new_labels
_id,,,
558de5ccd6dfbb1285b4d0d7,Drinking a Modelo Especial by @Grupo_Modelo @ ...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 0, 'raw': 'Alcohol Related::P..."
557c654dd6dfbb616296fd82,"Drink before the movie @ The Counter, Naples F...","{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
558da04dd6dfbb6950896489,Plug says she can get me $100 bottles of j√§ger...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 0, 'raw': 'Alcohol Related::D..."
55914691d6dfbb3d910847c7,"new job, new things. life is good, God is alwa...","{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
557f254cd6dfbb4df2491edd,Sushi &amp; beer w/ my boss,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
55902589d6dfbb1a868009a9,"I don't wanna drink no more, I don't wanna smo...","{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 0, 'raw': 'Alcohol Related::D..."
55723026d6dfbb3e96ae5abb,"Drinking @Yuengling_Beer, smoking a fine cigar...","{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
557a9e46d6dfbb7a36d5744d,Gonna drink and watch orange is the new black ...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 0, 'raw': 'Alcohol Related::D..."
5587361ed6dfbb21a4dbdd3d,Three Vodka Tonics and I'm slightly hungover. ...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5574cec4d6dfbb571e32514c,Time for some wine üòãüç∑ @ Pepsi Amphitheatre htt...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
55843364d6dfbb4017b2707c,Wish I could drink or smoke,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
55906c02d6dfbb373320bb1f,Drinking grey goose on a Sunday bc I do what I...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5584cf26d6dfbb6b248969b4,Drinking a Longboard Island Lager by @KonaBrew...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
556cca10d6dfbb1df32b77d8,\ monday's just got better \\n\nThe best morni...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5587055ed6dfbb77fd5fc8aa,@AkaiChoCorina two early for beer? It well int...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
55732937d6dfbb3d96330d09,That cool feeling when you don't wake up hungo...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5573a3bdd6dfbb325130d5bf,"Drinking The Kimmie, The Yink &amp; The Holy ...","{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
558e41eed6dfbb624e5d40a2,Recently been informed my profile photo has be...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 0, 'raw': 'Alcohol Related::D..."
55874d4ad6dfbb257fb5dd93,A must have cider. - Drinking a Rootcellar by ...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
558cf04cd6dfbb7e7a408437,Also downed 5 beers while watching...so I'm re...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5570879dd6dfbb11f6720a2f,Now I can get drunk and eat tacos at the same ...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
558b7a43d6dfbb05d90291ba,I be drinking my life away,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
558fbd44d6dfbb788cbc2471,Love how I'm still drinking and @OliviaChilcoa...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
557f6311d6dfbb65420c21f6,All that jazz... #mondays #jazz #livemusic #dr...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5570989fd6dfbb1a1a22573a,It needs to be 7 already cause I just want to ...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
558b6077d6dfbb7cefc732b0,Drinking an Adam Weishaupt by @ibw666 @ Mott S...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5573a449d6dfbb325130db5c,@Michael5SOS I need your help drinking Corona ...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
557a75f3d6dfbb700593b28c,@xxhcee you better drink on Saturday,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 0, 'raw': 'Alcohol Related::D..."
558de88ed6dfbb1d49554b6e,Celebrating a big fabulous day in so many ways...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5576691ad6dfbb400d8b7dd5,Diggin the candles and wine right now,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
...,...,...,...
556ff94cd6dfbb3140e799f7,"My second run of the day, their 5th. #nationa...","{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
558cd520d6dfbb70c4e86b23,Found a cool spot in the city. Rooftop bar and...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 0, 'raw': 'Alcohol Related::D..."
557263b8d6dfbb56bc599332,"""The one intoxicated with drink, the other mad...","{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 0, 'raw': 'Alcohol Related::D..."
558204a0d6dfbb1d5a900216,Drinking a Devil's Tramping Ground Tripel by @...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 0, 'raw': 'Alcohol Related::P..."
556f75d7d6dfbb590629de9e,Drinking a Tecate Light by @cuamocmx @ Vino Va...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
557f4750d6dfbb573b4d7d03,Call your friends let drunk.,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
559046f7d6dfbb2851863994,Quick liquor run with mama_luv1... jimbo_cbr92...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
557c10b9d6dfbb3986d00300,@USArmy @GENRayOdierno @DavidtheAdmiral @Natio...,"{'first_person': 1, 'alcohol': 1, 'first_perso...",{'alcohol': 0}
557d933dd6dfbb58dc458fcb,Kinda wanna drink today. &amp; have a smoke se...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
55802807d6dfbb237b1d02c4,@Chrissy_fd @edwardtheninth @missamerica_ @Mat...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5581d29ad6dfbb118e0a1d81,Running 5 miles today because @joannaaugust_ a...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5588482ad6dfbb04933e0054,lord i hate bein drunk and hearing Keef bc i b...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
558cc8ead6dfbb69db1fe40e,I been fucking with people all day today üò≠ ma ...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5573fb1bd6dfbb79623dbc57,I swear I'm more fun sober,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
557d22dcd6dfbb30f04abaa8,@SANDSMUSIC ok 1) I'm not drunk and 2) I alrea...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
557505f1d6dfbb673880e95a,Drinking an Umlaut Kolsch by @eaglerockbrew at...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
55746cbcd6dfbb3bdb427e35,üòÇüòÇüòÇüòÇ jus know we getting drunk &amp; going dan...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
557c8b38d6dfbb6dfd828692,üòÇüòÇüòÇ they went to jail for distributing drinks ...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 0, 'raw': 'Alcohol Related::D..."
558c4c9dd6dfbb4450af86ec,Perfect after lunch brew. - Drinking a Thunder...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5585ab1ed6dfbb482ae1c4ce,Why the fuck do I get stuck babysitting drunk ...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
55889137d6dfbb293479b5d9,But Moooooom. Jesus got to drink wine with HIS...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 0, 'raw': 'Alcohol Related::D..."
5578f440d6dfbb35dd87209d,@laurennraeee_ drink when you pull! And pound ...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
558ddf5ed6dfbb1285b48c5a,I am so drunk but can still realize that we ar...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
558640d4d6dfbb01eb2849a2,Sometimes getting high isn't enough and that's...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
55870861d6dfbb77fd5fe43c,Drinking a Mehilainen's Honey by @UrbanLegendB...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
557cb2a4d6dfbb01fd20063b,Drinking a Goose IPA by @GooseIsland @ Lake Ch...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
55778474d6dfbb4a81c9bbd1,When the tattoo artist buys you a round of drinks,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 0, 'raw': 'Alcohol Related::D..."
556bc166d6dfbb3bb5b4e3ac,I can't drink 21 shots for my 21st birthday ca...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
5579ffa5d6dfbb40886450a1,All you can eat wing with sauce on the side an...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."
557d9968d6dfbb5ccfb74f75,[ it's a good night when you drink that Jack D...,"{'first_person': 1, 'alcohol': 1, 'first_perso...","{'first_person': 1, 'alcohol': 1, 'first_perso..."

In [15]:
from sklearn.metrics import cohen_kappa_score

In [12]:
help(cohen_kappa_score)

Help on function cohen_kappa_score in module sklearn.metrics.classification:

cohen_kappa_score(y1, y2, labels=None)
    Cohen's kappa: a statistic that measures inter-annotator agreement.

    This function computes Cohen's kappa [1], a score that expresses the level
    of agreement between two annotators on a classification problem. It is
    defined as

    .. math::
        \kappa = (p_o - p_e) / (1 - p_e)

    where :math:`p_o` is the empirical probability of agreement on the label
    assigned to any sample (the observed agreement ratio), and :math:`p_e` is
    the expected agreement when both annotators assign labels randomly.
    :math:`p_e` is estimated using a per-annotator empirical prior over the
    class labels [2].

    Parameters
    ----------
    y1 : array, shape = [n_samples]
        Labels assigned by the first annotator.

    y2 : array, shape = [n_samples]
        Labels assigned by the second annotator. The kappa statistic is
        symmetric, so swapping ``y1`` and ``y2`` doesn't change the value.

    labels : array, shape = [n_classes], optional
        List of labels to index the matrix. This may be used to select a
        subset of labels. If None, all labels that appear at least once in
        ``y1`` or ``y2`` are used.

    Returns
    -------
    kappa : float
        The kappa statistic, which is a number between -1 and 1. The maximum
        value means complete agreement; zero or lower means chance agreement.

    References
    ----------
    .. [1] J. Cohen (1960). "A coefficient of agreement for nominal scales".
           Educational and Psychological Measurement 20(1):37-46.
           doi:10.1177/001316446002000104.
    .. [2] R. Artstein and M. Poesio (2008). "Inter-coder agreement for
           computational linguistics". Computational Linguistic 34(4):555-596.

In [9]:
L = LabelGetter(batch)

In [10]:
x_old, fpl_old = L.get_first_person_label()
x_new, fpl_new = L._get_labels('first_person_level', column_name='new_labels')

In [11]:
len(fpl_new)

772

In [12]:
df = pd.DataFrame()
df['old'] = fpl_old
df['new'] = fpl_new
df = df.dropna()

In [13]:
df.head()

                          old  new
_id
557c654dd6dfbb616296fd82    1  0.0
55914691d6dfbb3d910847c7    1  1.0
557f254cd6dfbb4df2491edd    0  0.0
55723026d6dfbb3e96ae5abb    0  0.0
5587361ed6dfbb21a4dbdd3d    0  2.0

In [17]:
cohen_kappa_score(df.old, df.new)

0.47469538315743659

In [18]:
verified = batch.ix[df[df['old'] == df['new']].index]

In [19]:
print(len(df))
print(len(verified))

772
525

In [21]:
pickle.dump(verified, open('amt/double_labeled_test.p', 'wb'))

In [26]:
verified[['text', 'new_labels']].sample(5)

,text,new_labels
_id,,
556cca10d6dfbb1df32b77d8,\ monday's just got better \\n\nThe best morni...,"{'first_person': 1, 'first_person_level': 1, '..."
558f5094d6dfbb57385f1305,"Getting fucked up tonight, so if you get a dr...","{'first_person': 1, 'first_person_level': 1, '..."
5585c879d6dfbb544007f641,Having a drink and taking myself to the movies...,"{'first_person': 1, 'first_person_level': 1, '..."
558c3c7fd6dfbb3e7080bd2e,oof. it's gonna be a long 2 hours of world his...,"{'first_person': 1, 'first_person_level': 2, '..."
558abb7ed6dfbb5380bd76be,Date night clinking ‚ù§Ô∏è uliaali #nyc #oneifbyla...,"{'first_person': 1, 'first_person_level': 0, '..."

# See if this is better...

In [85]:
clf_fpl = pickle.load(open('pickles/clf_fpl_UPDATED.p', 'rb'))

In [160]:
L = LabelGetter(verified)
X, y = L.get_first_person_label()

In [161]:
from sklearn.cross_validation import train_test_split

In [162]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=26)

In [163]:
clf_fpl.fit(X_train, y_train)

Pipeline(steps=[('features', FeatureUnion(n_jobs=1,
       transformer_list=[('text', Pipeline(steps=[('getter', ItemGetter(key='text')), ('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=F...one,
          solver='liblinear', tol=0.000449897709599141, verbose=0,
          warm_start=None))])

In [164]:
from classification.reporting import ClassificationReporting
reporting = ClassificationReporting(clf_fpl, X_train, X_test, y_train, y_test, 3)
report = reporting.set_name("Test Classifier").set_level('fpl').create_report(1)

Training Results
~~~~~~~~~~~~~~~~
confusion_matrix
[[206, 0, 0], [0, 92, 0], [0, 0, 53]]


accuracy_score
1.0


classification_report
             precision    recall  f1-score   support

          0       1.00      1.00      1.00       206
          1       1.00      1.00      1.00        92
          2       1.00      1.00      1.00        53

avg / total       1.00      1.00      1.00       351



f1_score
1.0




Testing Results Results
~~~~~~~~~~~~~~~~~~~~~~~
confusion_matrix
[[82, 10, 2], [16, 34, 0], [7, 8, 15]]


accuracy_score
0.7528735632183908


classification_report
             precision    recall  f1-score   support

          0       0.78      0.87      0.82        94
          1       0.65      0.68      0.67        50
          2       0.88      0.50      0.64        30

avg / total       0.76      0.75      0.75       174



f1_score
0.7468368171664551

In [116]:
L = LabelGetter(batch)
X, y = L.get_first_person_label()

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=25)
clf_fpl.fit(X_train, y_train)

Pipeline(steps=[('features', FeatureUnion(n_jobs=1,
       transformer_list=[('text', Pipeline(steps=[('getter', ItemGetter(key='text')), ('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=F...one,
          solver='liblinear', tol=0.000449897709599141, verbose=0,
          warm_start=None))])

In [111]:
reporting = ClassificationReporting(clf_fpl, X_train, X_test, y_train, y_test, 3)
report = reporting.set_name("Test Classifier").set_level('fpl').create_report(1)

Training Results
~~~~~~~~~~~~~~~~
confusion_matrix
[[346, 0, 0], [0, 177, 0], [0, 0, 147]]


accuracy_score
1.0


classification_report
             precision    recall  f1-score   support

          0       1.00      1.00      1.00       346
          1       1.00      1.00      1.00       177
          2       1.00      1.00      1.00       147

avg / total       1.00      1.00      1.00       670



f1_score
1.0




Testing Results Results
~~~~~~~~~~~~~~~~~~~~~~~
confusion_matrix
[[116, 24, 24], [28, 58, 10], [26, 21, 23]]


accuracy_score
0.5969696969696969


classification_report
             precision    recall  f1-score   support

          0       0.68      0.71      0.69       164
          1       0.56      0.60      0.58        96
          2       0.40      0.33      0.36        70

avg / total       0.59      0.60      0.59       330



f1_score
0.5916069617221422

The other classifiers are performing well enough so we will only relabel what was previously considered FP.

# Labeling the rest of the data

In [96]:
X = DataAccess.get_as_dataframe()
L = LabelGetter(X)
X_fpl, y = L.get_first_person_label()

In [65]:
old_results = pd.DataFrame.from_csv("C:/Users/Tom Work/Downloads/Batch_2417713_batch_results.csv")

In [72]:
old_results.index = old_results._id

In [99]:
%%time
X_fpl['random_number'] = X_fpl.text.apply(hash)

Wall time: 8 ms

In [98]:
X_fpl = X_fpl.ix[X_fpl.index.difference(old_results.index)]

In [101]:
X_fpl.shape

(5357, 12)

In [102]:
pickle.dump(X_fpl, open('amt/first_person_unlabeled.p', 'wb'))

In [104]:
make_batch('amt/first_person_unlabeled.p', 3000, 'amt')

In [105]:
batch1 = pd.DataFrame.from_csv("amt/c_amt 2016-06-03 11h16m -9223012266841220737/c_amt 2016-06-03 11h16m -9223012266841220737.csv")

In [106]:
batch1.shape

(3000, 2)

In [107]:
batch1.head()

,text,random_number
_id,,
558d9f98d6dfbb6950895bba,b'I will pay someone like $30 and a case of be...,-9223012266841220737
558f421bd6dfbb51bbe200d4,"b""@aileene_chew @dfts_90 @humankittehkat @va_k...",-9217032698021262422
55877c60d6dfbb344f78696f,b'Drinking a Stone Enjoy By 07.04.15 IPA by @S...,-9208811120167384204
5584d5b7d6dfbb6b2489b047,"b""Can't get enough of this cty. #chicago #rive...",-9207935440759435436
55789bb1d6dfbb052633defe,"b""If everyone would go out and have a drink to...",-9206623459859422642

In [108]:
batch2 = pd.DataFrame.from_csv("amt/c_amt 2016-06-03 11h16m 1125936180122922568/c_amt 2016-06-03 11h16m 1125936180122922568.csv")

In [109]:
batch2.shape

(2357, 2)

In [110]:
batch2.head()

,text,random_number
_id,,
5573b47ad6dfbb512f142635,"b""I'm in LA, at a gallery, watching a performa...",1125936180122922568
5587c02bd6dfbb46acebb825,b'Getting Drunk &amp; Fried With My Brother \x...,1130045892011414351
557639d8d6dfbb240cd14995,"b""I'm not a fan of Vodka""",1133567731290356678
55750755d6dfbb6738810e57,b'3 bottles of Jack. 1 ounce of weed. 1/2 song...,1134120824051744000
55721540d6dfbb33bf905f7d,b'Drinking a Marauder by @greatsouthbay at @ha...,1137236950417390560